.bookingForm h2{
  font-size: 1.5rem;
  padding: 1rem;
  margin-left: 2.5rem;
}
.bookingPage .datePickerCalendar {
  padding: 1px;
  margin: 0 40px;
}
.bookingPage .cardDetails button {
  margin-top: 2rem;
  padding: 15px;
}
.bookingForm .formTemplate {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  padding: 1rem;
  margin-left: 3.5rem;
  width: 47rem;
}
.checkForm .formTemplate{
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: .4rem;
  padding: 1.5rem;
  margin-left: 3.5rem;
  width: 47rem;
  margin-bottom: 2.5rem;
}
.checkForm h2 {
  font-size: 1.5rem;
  padding: 1rem;
  margin-left: 2.5rem;
}
.checkForm .formTemplate p {
  font-weight: 600;
  font-size: .9rem;
}
.checkForm .formTemplate h3 {
  font-size: 1rem;
  margin-bottom: .8rem;
}
.checkForm .formTemplate .selectCheckIn{
  width: 25rem;
  padding: 0.65rem 0.95rem;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  color: #383B58;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9
}
.bookingForm .formTemplate .inputBookingForm, .inputCityForm {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0.25rem;
}

.bookingForm .formTemplate .inputBookingForm label, .inputCityForm label {
  font-weight: 600;
  margin-bottom: 0.25rem;
  width: 10rem;
}

.bookingForm .formTemplate .inputBookingForm input, .inputCityForm input {
  width: 21rem;
  padding: 0.65rem 0.95rem;
  border: none;
  background-color: #ececec;
  color: #383B58;
}

.inputCityForm input{
  background-color: #FFFFFF;
  border: 1px #383b586e solid;
}

.cardBooking{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin: 14px;
  width: 90%;
  height: 56rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 4.25rem;
  margin-bottom: 4.25rem;
}

.h2Detalle{
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
}
.cardBooking .cardDetails{
  width: 100%;
}
.cardDetails .star{
 font-size: .8em;
}
.checkIn,.checkOut{
  display: flex;
  justify-content: space-between;
  padding: 1.3rem .7rem;
}
.checkIn{
  border-top: 1px solid rgba(56, 59, 88, .3);
  border-bottom: 1px solid rgba(56, 59, 88, .3);

}
.checkOut{
  border-bottom: 1px solid rgba(56, 59, 88, .3);
}
.bookingPage{
    display: grid;
    grid-template:
    "form card"
    "calendar card"
    "form2 card";
    background-color: #ececec;
    padding: 1.7rem .2rem;
}
.form{
    grid-area: form;
}
.bookingPage .calendar{
    grid-area: calendar;
    margin: 0;
    padding: 0;
}
.cardBooking{
    grid-area: card;
}
.form2{
    grid-area: form2;
}
.cardImgn{ 
  width: 100%;
}
.image{ 
  width: 100%;
}
button {
  cursor: pointer;
}
button:hover {
  transform: scale(1.03, 1.03);
}
.errorMsg{
  margin-top: 1rem;
}
.errorBooking{
  display: flex;
  background-color: #ffe6e6;
  color: #B00020;
  width: 27.5rem;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  margin-top: 0.75rem;
}
.errorBooking .fa-circle-exclamation{
  font-size: 1.5rem;
  margin-right: .5rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px){
  
  .cardBooking{
    width: 96%;
    height: 750px;
    align-self: center;
  }
  .bookingPage{
      display: flex;
      flex-direction: column;
  }
  .bookingForm .formTemplate {
    grid-template-columns: 1fr;
    margin: auto;
    width: 93vw;
  }
  .bookingForm .formTemplate .inputBookingForm input, .inputCityForm input {
    width: 80vw;
}
.bookingForm h2 {
  margin-left: 0;
}
.checkForm .formTemplate{
  width: 96%;
  margin: auto;
}
.checkForm h2 {
  margin: 0;
}
.checkForm .formTemplate h3 {
  font-size: .9rem;
}
.checkForm .formTemplate .selectCheckIn{
  width: 100%;
}
.errorBooking {
  width: 20rem;
}
.errorBooking p{
  font-size: 0.75rem;
}
}
@media only screen and (min-width: 736px) and (max-width: 876px){
  .cardBooking{
    display: grid;
    grid-template:
    "title ."
    "image cardDetails";
    width: 750px;
    height: 400px;
    align-self: center;
    padding: 30px;
    gap: 15px;
  }
  .cardBooking .cardDetails{
    width: 40vw;
    grid-area: cardDetails;
    padding: 0;
  }
  .cardBooking h2{
    grid-area: title;
    padding: 0;
  }
  .bookingPage{
      display: flex;
      flex-direction: column;
  }
  .image{ 
    border-radius: 10px;
    grid-area: image;
    width: 45vw;
    height: 100%;
  }
  .cardDetails p{
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .checkIn, .checkOut {
    display: flex;
    justify-content: space-between;
    padding: 1px 0.6rem;
}
.bookingForm .formTemplate {
  margin: auto;
}
.bookingForm h2 {
  margin-left: 0;
}
.checkForm .formTemplate{
  width: 98%;
  margin: auto;
}
.checkForm h2 {
  margin: 0;
}
.checkForm .formTemplate h3 {
  font-size: .9rem;
}
.checkForm .formTemplate .selectCheckIn{
  width: 100%;
}
.bookingPage .cardDetails button {
  margin-top: 1rem;
  padding: 10px;
}

}
